<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="shortcut icon" type="image/png" href="/images/Favicon.png"/>
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no">

    <link rel="stylesheet" type="text/css" href="/stylesheets/Dynatrace-main.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/Dynatrace-groundhog-main.css">
  </head>
  <body>
    <img class="logo" src="/images/bank2.jpg" style="center" width="500"height="200"> 
    <div class="container-fluid">
