<form action="/member/transact" method="POST">
	<div class="jumbotron jumbotron-fluid">
	  <div class="container">
	    <form class="form-horizontal" role="form" method="POST" action="/login">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="sr-only" for="amount" style="color:white">Amount</label>
                        <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                            <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                            <input type="text" name="amount" class="form-control" id="amount" placeholder="Amount" required autofocus>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="card" value=<%= userdata.card %>>
				<input type="hidden" name="action" value=<%= action %>>
                <div class="col-md-3">
                </div>
            </div>
            <div class="row" style="padding-top: 1rem">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <button type="submit" class="btn btn--primary btn-block;" style="padding-left:5"><i class="fa fa-sign-in"></i><%= action %></button>
                    <a class="btn btn--primary btn-link" style="padding-left:5" href="/member">Go Back</a>
                </div>
            </div>
        </form>
	  </div>
	</div>
</form>
