<%- include('partials/header') %>
	<div class="jumbotron jumbotron">
	  <h1 class="display-3"><%= title %></h1>
	  <p class="lead" style="color:white">This is a sample Banking application developed by D1 for Workshops.</p>
	  <hr class="my-4">
	  <p style="color:white">Available actions: Login, Withdraw, Deposit, API</p>
	  <p class="lead">
	    <a class="btn btn-primary btn-lg" style="margin-left:100px" href="/login" role="button">Login</a>
	    <%# <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a> %>
	    <a class="btn btn-primary btn-lg" href="/api" role="button">Api</a>
	  </p>
	</div>
<%- include('partials/footer') %>
