html, body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
  background-color: #242424;
}

.layout.has-islands {
  height: 500px;
  width: 100%;
  padding: 0;
  overflow: auto;
}

.layout .island {
  height: 500px;
  margin: 0;
  padding: 0;
  background-color: #242424;
}

.wrapper-little {
  width: 310px;
  margin: 0 auto;
}

.spinner {
  margin-top: 30px;
  text-align: center;
}

.spinner .loading {
  background-color: transparent;
  display: none;
}

.logo {
  margin-bottom: 40px;
}

.label {
  color: #fff;
}

.white-header {
  color: #fff;
  font-weight: normal;
}

.error_msg {
  font-family: "BerninaSans", "Open Sans", sans-serif;
  font-size: 14px;
  min-height: 20px;
  text-align: center;
  color: #fff
}

a {
  font-size: 14px;
}

.inputfield[disabled] {
  color: #898989;
}

.buttons {
    margin-bottom: 0px;
}

.left, .right {
  display: inline-block;
  width: 150px;
}

.display_inline_table {
  display: inline-table;
}

.left {
  margin-right: 5px;
}

.right {
  text-align: right;
}

.center {
    text-align: center;
}

.additional_options .left {
  width: 150px;
  margin-right: 0;
}
.additional_options .right {
  width: 155px;
}

.login-step,
.cc-step {
  display: none;
}

#step1 {
  display: block;
}

.login-step .cc-step .btn {
  margin-right: 0;
}

.btn-full-width {
  width: 100%;
}

.signup {
  text-align: right;
}

.link_cursor {
    cursor: pointer;
}

.grecaptcha-badge {
  visibility: hidden;
}

.recaptcha-text {
  font-family: "BerninaSans", "Open Sans", sans-serif;
  font-size: 0.7rem;
  margin-top: 0.5rem;
  color: #a0a0a0;
  text-align: center;
}

.recaptcha-text a {
  font-size: 0.7rem;
  color: #ababab;
}

ul.list li.info:before,
ul.list li.error:before,
ul.list li.success:before {
  margin-top: 0em;
  width: 2rem;
  height: 2rem;
  background-size: 2rem;
}

.list li.info:before {
  background: transparent url('../lib/groundhog/assets/images/icons/information-white.cache.zc6QhTORvwpz5Lm4.svg') no-repeat;
}

.list li.success:before {
  background: transparent url('../lib/groundhog/assets/images/icons/checkmark-ok-green500.cache.eno94DKsFZjOKbFC.svg') no-repeat;
}

.list li.error:before {
  background: transparent url('../lib/groundhog/assets/images/icons/critical-event-red500.cache.5EExHw0UrfVHwnBD.svg') no-repeat;
}

.messages-box {
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
  margin: 20px;
}

.message-section {
  color: #fff;
  font-weight: normal;
  width: fit-content;
  max-width: 500px;
  margin: 0 auto;
}
.message-box {
  color: #fff;
  font-weight: normal;
  margin: 30px auto;
}

body.block {
  display: block;
}

.btn--primary {
  background-color: #00b9cc;
}
.btn--primary:hover {
  background-color: #4fd5e0;
}

.inputfield[disabled] {
  color: #B7B7B7;
  border-color: #B7B7B7;
  background-color: #898989;
}

.fieldset {
  margin-bottom: 0px;
}
#content {
    position: relative;
}
.ribbon{
    position: absolute;
    top: 0;
    right: 0;
}

