html, body {
  height: 100%;
}

body {
  background-color: #242424;
}

.layout.has-islands {
  height: 500px;
  width: 100%;
  padding: 0;
  overflow: scroll;
}

.layout .island {
  height: 500px;
  margin: 0;
  padding: 0;
  background-color: #242424;
}

.wrapper-little {
  width: 310px;
  margin: 0 auto;
}

.spinner {
  margin-top: 30px;
  text-align: center;
}

.spinner .loading {
  background-color: transparent;
  display: none;
}

.logo {
  margin-bottom: 40px;
}

.label {
  color: #fff;
}

.white-header {
  color: #fff;
  font-weight: normal;
}

.error_msg {
  font-family: "BerninaSans", "Open Sans", sans-serif;
  font-size: 14px;
  min-height: 20px;
  text-align: center;
  color: #fff
}

a {
  font-size: 14px;
}

.inputfield[disabled] {
  color: #898989;
}


.buttons {
    margin-bottom: 0px;
}

.left, .right {
  display: inline-block;
  width: 150px;
}

.display_inline_table {
  display: inline-table;
}

.left {
  margin-right: 5px;
}

.right {
  text-align: right;
}

.center {
    text-align: center;
}

.additional_options .left {
  width: 150px;
  margin-right: 0;
}
.additional_options .right {
  width: 155px;
}

.login-step,
.cc-step {
  display: none;
}

#step1 {
  display: block;
}

.login-step .cc-step .btn {
  margin-right: 0;
}

.btn-full-width {
  width: 100%;
}

.signup {
  text-align: right;
}

.link_cursor {
    cursor: pointer;
}

.grecaptcha-badge {
  visibility: hidden;
}

.recaptcha-text {
  font-family: "BerninaSans", "Open Sans", sans-serif;
  font-size: 0.7rem;
  margin-top: 0.5rem;
  color: #a0a0a0;
  text-align: center;
}

.recaptcha-text a {
  font-size: 0.7rem;
  color: #ababab;
}

ul.list li.info:before,
ul.list li.error:before,
ul.list li.success:before {
  margin-top: 0em;
  width: 2rem;
  height: 2rem;
  background-size: 2rem;
}

.list li.info:before {
  background: transparent url('../lib/groundhog/assets/images/icons/information-white.cache.zc6QhTORvwpz5Lm4.svg') no-repeat;
}

.list li.success:before {
  background: transparent url('../lib/groundhog/assets/images/icons/checkmark-ok-green500.cache.eno94DKsFZjOKbFC.svg') no-repeat;
}

.list li.error:before {
  background: transparent url('../lib/groundhog/assets/images/icons/critical-event-red500.cache.5EExHw0UrfVHwnBD.svg') no-repeat;
}

.messages-box {
  max-width: 600px;
  margin: 0 auto;
  color: #fff;
  margin: 20px;
}

.message-section {
  color: #fff;
  font-weight: normal;
  width: fit-content;
  max-width: 500px;
  margin: 0 auto;
}
.message-box {
  color: #fff;
  font-weight: normal;
  margin: 30px auto;
}

body.block {
  display: block;
}

.btn--primary {
  background-color: #00b9cc;
}
.btn--primary:hover {
  background-color: #4fd5e0;
}

.inputfield[disabled] {
  color: #B7B7B7;
  border-color: #B7B7B7;
  background-color: #898989;
}

.fieldset {
  margin-bottom: 0px;
}

.panel-footer.panel-custom {
    color: white;
}

.naomi .link1 {
  color : green;
}

.h3.heading-custom {
  color: white;
}

.navbar {
    border-radius: 0;
}

.navbar-inverse{
    background: #000000;
    height: 60px;
    width: 1532px;
    margin-left: -10px;
    line-height:50px;
    position: relative;
    background: url("images/Dynatrace_log.png") no-repeat 0 0;
}

.navbar-fixed-top {
    position: absolute;
    top: 10px;
    right: 0;
}

#id_username{
  height: 32px;
  width: 325px;
}

#id_password{
  height: 32px;
  width: 325px;
}

#id_email{
  height: 32px;
  width: 325px;
}

table {
  vertical-align: top;
  border-collapse: collapse;
  border: 1px solid #242424;
  box-shadow: 0 0 0 1px white;
  table-layout: fixed;
  width: 60%;
  margin-left:240px;
}

table td {
  border: 1px solid white;
  padding: 3px;
  width: auto;
}

table th {
  border: 1px solid white; 
  background-color: #00b9cc;
  font-size: 12px;
  padding: 6px;
  text-align: center;
  width: 50%;
}

.notification{
    position: absolute;
    top: 5rem;
    right: 1rem;
}

.container {
  display: flex;
  justify-content: center;
}

.center {
  width: 800px;
  height: 800px;
  background: #5F85DB;
  color: red;
  font-weight: bold;
  font-family: Tahoma;
  background-image:url('images/loading.gif')
}

#mydiv {
  height: 400px;
  position: relative;
  background-color: gray; /* for demonstration */
}
.ajax-loader {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto; /* presto! */
  background-image:url("images/loading.gif")
}

#popupBoxOnePosition{
	top: 300px; left: 550px; position: absolute; width: 10%; height: 8% 
	background-color: #FFF; display: none;
}
.popupBoxWrapper{
	width: 500px; margin: 50px auto; text-align: left;
}
.popupBoxContent{
	background-color: #FFF; padding: 15px; modal: true;
}

#popupBoxTwoPosition{
	top: 0px; left: 550px; position: absolute; width: 10%; height: 8% 
	background-color: #FFF; display: none;
}
.ui-dialog .ui-widget .ui-widget-content .ui-corner-all .ui-front .ui-draggable .ui-resizableIn {
    position: absolute;
    height: 5%;
    width: 10%;
    top: 300px !important;
    left: 550px !important;
    display: block;
}

.ui-widget {
    font-family: Verdana,Arial,sans-serif;
    font-size: .8em;
}

.ui-widget-content {
    background: #F9F9F9;
    border: 1px solid #ffffff;
    color: #222222;
}

.ui-dialog {
    left: 0;
    outline: 0 none;
    padding: 0 !important;
    position: absolute;
    top: 0;
}

#dialog{
    padding: 0;
    margin: 0; 
}

.ui-dialog .ui-dialog-content {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
    overflow: auto;
    position: relative;
    padding: 0 !important;
}

.ui-widget-header {
    background: #00b9cc;
    border: 0;
    color: #fff;
    font-weight: normal;
}

.ui-dialog .ui-dialog-titlebar {
    padding: 0.1em .5em;
    position: relative;
        font-size: 1em;
}

.ui-dialog .ui-dialog-titlebar-close {

    background: #000000;
    position: absolute;
    right: .3em;
    top: 50%;
    width: 41px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
}

.ui-widget-overlay { 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
    height: 100%; 
    background: #aaaaaa;
    opacity: 0.3;
}

.masked {
  position: fixed;
  pointer-events: none;
  display: inline-block;
}

.masked::before {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  visibility: visible;
  opacity: 0.5;
  background-color: #000000;
  content: "";
}

.wrapper {
    /* vertical bar on left side */
    height: 100%;
    left: 0;
    position: fixed;
    top: 200;	

    /* align items inside vertically centered */
    display: flex;
}

.wrapper_rt {
    height: 100%;
    transform: translateY(-5%);
    top: 100px;

    align-items: center;
    display: flex;
}


